{% extends 'container.html' %}
{% load static %}
{% block content %}
    <div class="container" style="background-image: url({% url 'images/500.jpg' %});">
        <div class="row">
            <h3>Why did you break everything????</h3>
            <img src="{% static 'images/500.png' %}" alt="You break everything">
            <h2>You should go home as fast as possible before mom catch you</h2>
            <a href="{% url 'ctf:home' %}">Go home</a>
        </div>
    </div>
{% endblock content %}
    